---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.page-header{ color:#fff; background-color:#275069; background-image:linear-gradient(170deg, #52c234, #061700); }

body { padding: 0; margin: 0; font-family: Inconsolata, Marcellus, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #606c71; }
