<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ThermoFisher-local" value="./ThermoNuGet" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="ThermoFisher-local">
      <package pattern="ThermoFisher.CommonCore.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
