<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CometUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CometUI.Properties.Settings>
            <setting name="ProteomeDatabaseFile" serializeAs="String">
                <value />
            </setting>
            <setting name="NucleotideReadingFrame" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsProteinDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DecoyPrefix" serializeAs="String">
                <value>DECOY_</value>
            </setting>
            <setting name="EnzymeTermini" serializeAs="String">
                <value>Fully-digested</value>
            </setting>
            <setting name="AllowedMissedCleavages" serializeAs="String">
                <value>1</value>
            </setting>
        </CometUI.Properties.Settings>
    </userSettings>
</configuration>