<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CometUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CometUI.Properties.Settings>
            <setting name="ProteomeDatabaseFile" serializeAs="String">
                <value />
            </setting>
            <setting name="NucleotideReadingFrame" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsProteinDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DecoyPrefix" serializeAs="String">
                <value>DECOY_</value>
            </setting>
            <setting name="EnzymeTermini" serializeAs="String">
                <value>Fully-digested</value>
            </setting>
            <setting name="AllowedMissedCleavages" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnzymeInfo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0,No_enzyme,0,-,-</string>
                        <string>1,Trypsin,1,KR,P</string>
                        <string>2,Trypsin/P,1,KR,-</string>
                        <string>3,Lys_C,1,K,P</string>
                        <string>4,Lys_N,0,K,-</string>
                        <string>5,Arg_C,1,R,P</string>
                        <string>6,Asp_N,0,D,-</string>
                        <string>7,CNBr,1,M,-</string>
                        <string>8,Glu_C,1,DE,P</string>
                        <string>9,PepsinA,1,FL,P</string>
                        <string>10,Chymotrypsin,1,FWYL,P</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SearchEnzymeNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SampleEnzymeNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </CometUI.Properties.Settings>
    </userSettings>
</configuration>